li {
    list-style: none;
}

ul {
    padding: 0;
}

.createForm {
    margin-top: 15px;
}

#createInput {
    padding: 10px;
    width: 96vw;
}

h1 {
    text-align: center;
}


.valid-feedback,
.invalid-feedback {
    text-align: center;
}

#createBtn {
    width: 15vw;
    border-radius: 10px;
}